<ion-view view-title="">
  <ion-content>
    <div class="qode-view">
      <span class="small-qode">{{qode.qode}}</span>
      <h1>{{qode.title}}</h1>
      <h3>{{qode.subtitle}}</h3>
      <p>{{qode.description}}</p>

      <div class="qode-card" ng-repeat="card in qode.cards" data-color="{{card.color}}">
        <h1>{{card.cardTitle}}</h1>
        <p>{{card.cardText}}</p>
        <p class="subdued" ng-show="card.cardReferences.length > 0">
          <span ng-repeat="reference in card.cardReferences"><a href="{{reference.link}}"><i class="fa fa-link"></i>{{reference.text}}</a>&nbsp;&nbsp;</span>
        </p>
      </div>

      <span class="qode-option" ng-show="logged.log && qode.isLiked === false && qode.isMine === false"><i class="fa fa-thumbs-up"></i>LIKE THIS QODE</span>
      <span class="qode-option is-light" ng-show="logged.log && qode.isLiked === true || qode.isMine === true"><i class="fa fa-thumbs-up"></i>{{qode.upVotes}} LIKE<span ng-show="qode.upVotes>1">S</span></span>
      <span class="qode-option" ng-show="logged.log && qode.isFavorited === false && qode.isMine === false"><i class="fa fa-heart is-red"></i>ADD TO FAVORITES</span>
      <span class="qode-option is-light" ng-show="logged.log && qode.isFavorited === true && qode.isMine === false"><i class="fa fa-heart is-red"></i>IN YOUR FAVORITES</span>

    </div>
  </ion-content>
</ion-view>
