<ion-view view-title="">
  <ion-content>
    <div class="qode-view">
      <span class="small-qode">{{qode.qode}}</span>
      <h1>{{qode.title}}</h1>
      <h3>{{qode.subtitle}}</h3>
      <p>{{qode.description}}</p>

      <div class="qode-card" ng-repeat="card in qode.cards">
        <h1>{{card.cardTitle}}</h1>
        <p>{{card.cardText}}</p>
        <p class="subdued" ng-show="card.cardReferences.length > 0">
          <span ng-repeat="reference in card.cardReferences"><a href="{{reference.link}}"><i class="fa fa-link"></i>{{reference.text}}</a>&nbsp;&nbsp;</span>
        </p>
      </div>

      <span class="qode-option"><i class="fa fa-thumbs-up"></i>THANKS THE AUTHOR</span>
      <span class="qode-option"><i class="fa fa-heart is-red"></i>ADD TO FAVORITES</span>

    </div>

  </ion-content>
</ion-view>
