<ion-view view-title="">
    <div class="form-page">
      <h1>Register</h1>
      <form name="register">
        <input type="text" name="name" placeholder="What's your name ?"/>
        <input type="text" name="mail" placeholder="What's your e-mail address ?"/>
        <input type="text" name="name" placeholder="Choose a password"/>
        <input type="text" name="name" placeholder="Confirm your password"/>
        <button class="form-button" type="submit">REGISTER</button>
      </form>
    </div>
</ion-view>
