<ion-view view-title="">

  <div id="search">
    <img src="../img/logo2x.png" height="60px">
    <h4>Type the Qode to decode...</h4>
    <form name="decode">
      <input type="text" maxlength="1" name="char1" onkeyup="jumpnext(1)"/>
      <input type="text" maxlength="1" name="char2" onkeyup="jumpnext(2)"/>
      <input type="number" maxlength="1" name="char3" onkeyup="jumpnext(3)"/>
      <input type="number" maxlength="1" name="char4" onkeyup="jumpnext(4)"/>
      <input type="number" maxlength="1" name="char5" onkeyup="jumpnext(5)"/>
    </form>
    <h3><i class="fa fa-check"></i> Qode found !</h3>
  </div>
</ion-view>
