<div class="col-xs-12 col-sm-10 col-md-8">
  <div class="qode">
    <div class="qode-title">
      <h3>Here's a fresh new code :</h3>
    </div>
    <div class="qode-code">
      <div class="qode-char">&nbsp;</div>
      <div class="qode-char">&nbsp;</div>
      <div class="qode-char">&nbsp;</div>
      <div class="qode-char">&nbsp;</div>
      <div class="qode-char">&nbsp;</div>
    </div>
    <div class="qode-cta">
      <a ng-click="getThisQode()"><div class="button button-green is-enabled"><i class="fa fa-check"></i>I take it !</div></a>
    </div>
    <small><a href="#" ng-click="getQodes()">Refresh code</a>&nbsp; | &nbsp;<a ui-sref="root.login" ng-hide="isLogged.log"><i class="fa fa-user-circle"></i>Log in</a><span ng-show="isLogged.log"><a ui-sref="root.login">My account</a>&nbsp; | &nbsp;<a href="#" ng-click="logout()"><i class="fa fa-sign-out"></i>Log out</a></span></small>
  </div>
</div>