<div class="col-xs-12 col-md-8">
  <h1>Log in</h1></br>
  <form role="form" name="loginForm" novalidate>
    <input type="email" name="email" class="form-input" placeholder="E-mail address ..."></input>
    <input type="password" class="form-input" placeholder="Password ..."></input>
    </br>
    <div class="button button-small button-form is-enabled" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></i>I'm in !</div></br>
    <small><a ui-sref="root.register"><span class="is-light">I don't have an account yet</span></a></small>
  </form>
</div>
