<div class="col-xs-12 col-md-8">
  <h1>Your favorites, {{user.name}}</h1>
  <hr><br>
  <span ng-hide="user.favorites && user.favorites.length > 0">You don't favorited any Qode yet.<p>&nbsp;</p></span>
  <div ng-repeat="favorite in user.favorites">
   <span class="small-qode">{{favorite.qode}}</span>
    <h1>{{favorite.title}}</h1>
    <h2>{{favorite.subtitle}}</h2>
    <p class="long-text is-multilined">{{favorite.description}}</p>
    <div class="button button-small button-form is-enabled" ng-click="viewQode(favorite.qode)"><i class="fa fa-eye"></i></i>View Qode</div>
    <div class="button button-small button-form is-enabled is-red" ng-click="removeFromFavorites(favorite._id,$index)"><i class="fa fa-times"></i></i>Delete from favorites</div>
    <p>&nbsp;</p>
  </div>
  <p>&nbsp;</p>
  <h1>Your Qodes</h1>
  <hr><br>
  <span ng-hide="user.myqodes && user.myqodes.length > 0">You don't created any Qode yet.<p>&nbsp;</p></span>
  <div ng-repeat="qode in user.myqodes">
   <span class="small-qode">{{qode.qode}}</span>
    <h1>{{qode.title}}</h1>
    <h2>{{qode.subtitle}}</h2>
    <p class="long-text is-multilined">{{qode.description}}</p>
    <div class="button button-small button-form is-enabled" ng-click="viewQode(qode.qode)"><i class="fa fa-eye"></i>View Qode</div>
    <div class="button button-small button-form is-enabled is-green" ng-click="editQode(qode.qode)"><i class="fa fa-pencil"></i>Edit this Qode</div>
    <div class="button button-small button-form is-enabled is-red" ng-click="deleteQode(qode._id,$index)"><i class="fa fa-times"></i>Delete this Qode</div>
    <p>&nbsp;</p>
  </div>
</div>