<div class="col-xs-12 col-sm-10 col-md-8">
  <span class="small-qode">{{newQode.qode}}</span>
  <form>
    <input type="text" class="form-input" placeholder="Page title" ng-model="newQode.title"></input>
    <input type="text" class="form-input" placeholder="Page subtitle" ng-model="newQode.subtitle"></input>
    <textarea class="form-textarea" rows="7" placeholder="Description" ng-model="newQode.description"></textarea>
  </form>

  <div class="card" id="card{{$index}}" data-color="{{card.color}}" ng-repeat="card in newQode.cards">
    <div class="card-delete"><div class="card-delete-button" ng-click="deleteCard($index)"><i class="fa fa-times"></i></div></div>
    <input type="text" class="card-input card-input-bold" ng-model="card.cardTitle" placeholder="Title"></input>
    <textarea type="text" class="card-textarea" ng-model="card.cardText" rows="5" placeholder="Content"></textarea>
    <hr class="is-light">
    <small ng-repeat="reference in card.cardReferences"><p>{{reference.text}}</p></small>
    <hr class="is-light">    
    <small ng-repeat="file in card.files" class="is-light"><p>{{file.fileText}}</p></small>
    <div class="button button-small is-enabled"><i class="fa fa-plus" aria-hidden="true"></i>Add reference</div>

    <ul class="card-color-selector">
      <li>
        <input type="radio" id="default{{$index}}" ng-model="card.color" value="default" name="card{{$index}}Color">
        <label for="default{{$index}}"></label>
        <div class="check default"></div>
      </li>
      <li>
        <input type="radio" id="orange{{$index}}" ng-model="card.color" value="orange" name="card{{$index}}Color">
        <label for="orange{{$index}}"></label>
        <div class="check orange"></div>
      </li>
      <li>
        <input type="radio" id="yellow{{$index}}" ng-model="card.color" value="yellow" name="card{{$index}}Color">
        <label for="yellow{{$index}}"></label>
        <div class="check yellow"></div>
      </li>
      <li>
        <input type="radio" id="green{{$index}}" ng-model="card.color" value="green" name="card{{$index}}Color">
        <label for="green{{$index}}"></label>
        <div class="check green"></div>
      </li>
      <li>
        <input type="radio" id="blue{{$index}}" ng-model="card.color" value="blue" name="card{{$index}}Color">
        <label for="blue{{$index}}"></label>
        <div class="check blue"></div>
      </li>
      <li>
        <input type="radio" id="purple{{$index}}" ng-model="card.color" value="purple" name="card{{$index}}Color">
        <label for="purple{{$index}}"></label>
        <div class="check purple"></div>
      </li>
    </ul>
  </div>

  <div ng-click="addNewCard()" ng-show="!confirm" class="button button-small button-form button-blue is-enabled" type="submit"><i class="fa fa-plus" aria-hidden="true"></i></i>Add a card</div>
  <label class="button button-small button-yellow is-enabled" ng-show="!confirm" id="ulButton" ng-disabled="false"><i class="fa fa-plus"></i><span style="display:inline-block;">Add file</span><input type="file" id="fileUpload" style="display: none;"></label>
  <div ng-click="confirmToggle()" ng-show="!confirm" class="button button-small button-form button-green is-enabled" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></i>Send it !</div>
  <div ng-click="postQode()" ng-show="confirm" class="button button-small button-form button-green is-enabled" type="submit"><i class="fa fa-check" aria-hidden="true"></i></i>Confirm</div>
  <div ng-click="confirmToggle()" ng-show="confirm" class="button button-small button-form button-red is-enabled" type="submit"><i class="fa fa-times" aria-hidden="true"></i></i>Cancel</div>  
  <br><small>Free storage is limited to 5 files of 10Mo maximum.<br>Files are not encrypted !</small>
  <p>&nbsp;</p>

</div>

<div class="hidden-xs hidden-sm col-md-4">
  <div ui-view="newQodePreview">
</div>