<div class="col-xs-12 col-md-8">
  <h1>Register</h1></br>
  <form role="form" name="registerForm" novalidate>
    <input type="text" name="name" class="form-input" placeholder="What's your name ?"></input>
    <input type="email" name="email" class="form-input" placeholder="Your e-mail address ..."></input>
    <input type="password" class="form-input" placeholder="Password ..."></input>
    <input type="password" class="form-input" placeholder="Confirm your password ..."></input>
    </br>
    <div class="button button-small button-form is-enabled" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></i>I'm in !</div>
  </form>
</div>
