<div class="col-xs-12 col-md-8">
  <h1>Register</h1></br>
  <form role="form" name="registerForm" novalidate>
    <input type="text" ng-model="name" class="form-input" placeholder="What's your name ?"></input>
    <input type="email" ng-model="mail" class="form-input" placeholder="Your e-mail address ..."></input>
    <input type="password" ng-model="password" class="form-input" placeholder="Password ..."></input>
    <input type="password" ng-model="confirmPassword" class="form-input" placeholder="Confirm your password ..."></input>
    </br>
    <button class="button button-small button-form is-enabled" type="submit" ng-click="register()"><i class="fa fa-paper-plane" aria-hidden="true"></i></i>I'm in !</button>
  </form>
</div>