<div class="col-xs-12 col-md-8">
  <h1>Lost your password ?</h1>
  <h2>No problem !</h2>
  <p>&nbsp;</p>
  <form name="recoveryRequest" ng-submit="user.recovery()" novalidate>
    
    <div class="form-group has-feedback">
      <input type="email" ng-model="user.infos.mail" name="mail" class="form-input" placeholder="Your e-mail address ..." required ng-class="{'is-input-form-selected': recoveryRequest.mail.$invalid && !recoveryRequest.mail.$pristine, 'is-input-form-valid':recoveryRequest.mail.$valid}"></input>
      <h2><i class="fa fa-check form-control-feedback is-green" ng-show="recoveryRequest.mail.$valid"></i></h2>
    </div>
  
    <button type="submit" class="button button-small button-form is-enabled" ng-disabled="recoveryRequest.$invalid" ng-class="{'is-light': recoveryRequest.$invalid}">Reset my password</button></br>
    <small>We'll send you an email with a link to restore your password. <br>This link is valid for 1 hour !</small>
</form>
</div>