<div class="col-xs-12 col-md-8">
  <h1>Choose a new password</h1></br>
  <form role="form" name="recoveryForm" ng-submit="user.resetPassword()" novalidate>
    
    <div class="form-group has-feedback">
      <input type="password" ng-model="user.infos.password" name="password" class="form-input" placeholder="Password ..." required ng-class="{'is-input-form-selected': recoveryForm.password.$invalid && !recoveryForm.password.$pristine, 'is-input-form-valid':recoveryForm.password.$valid}" ng-minlength="6"></input>
      <h2><i class="fa fa-check form-control-feedback is-green" ng-show="recoveryForm.password.$valid"></i></h2>
    </div>

    <div class="form-group has-feedback">
      <input type="password" ng-model="user.infos.confirmPassword" name="confirmPassword" class="form-input" placeholder="Confirm your password ..." required ng-class="{'is-input-form-error': !user.passwordValidation() && !recoveryForm.confirmPassword.$pristine, 'is-input-form-valid': user.passwordValidation() && !recoveryForm.confirmPassword.$pristine}" ng-minlength="6"></input>
      <h2><i class="fa fa-times form-control-feedback is-red" ng-hide="recoveryForm.confirmPassword !== null && user.passwordValidation()"></i></h2>
      <h2><i class="fa fa-check form-control-feedback is-green" ng-show="recoveryForm.confirmPassword.$valid && user.passwordValidation()"></i></h2>
    </div>

    </br>
    <button class="button button-small button-form is-enabled" type="submit" ng-disabled="recoveryForm.$invalid || !user.passwordValidation()" ng-class="{'is-light' : recoveryForm.$invalid || !user.passwordValidation()}"><i class="fa fa-check" aria-hidden="true"></i></i>Confirm</button>

  </form>
</div>